
<% if item.errors.any? %>
<div id="error_explanation" class="flash_danger">
    <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

    <ul>
    <% item.errors.each do |error| %>
        <li><%= error.full_message %></li>
    <% end %>
    </ul>
</div>
<% end %>

<div data-toggle-item-form-target="form" id="form-<%= category.id %>" 
class="<%= 'hidden' if hide_form %> mt-2 mb-4">
    <%= form_with(model: item, url: shopping_items_path, method: :post) do |form| %>
    <%= form.hidden_field :shopping_category_id, value: category.id %>
    <div class="flex mb-2 justify-between">
        <div class="flex">
            <div class="w-2/5 mr-2">
            <%= form.label :title, class: "text-xs" %>
            <%= form.text_field :title, class: "field w-full text-xs" %>
            </div>
            <div class="w-1/5">
            <%= form.label :stock, "In Stock", class: "text-xs" %>
            <%= form.check_box :stock, class: "py-4 px-4 field text-xs" %>
            </div>
            <div class="w-1/5 ml-2">
            <%= form.label :importance, class: "text-xs" %>
            <%= form.number_field :importance, value: 3, class: "field w-full text-xs" %>
            </div>
        </div>

        <div class="mt-6 ml-2">
            <%= form.submit "Add", class: "btn-primary text-xs" %>
        </div>

    </div>
    <div class="w-full">
        <%= form.label :notes, class: "text-xs" %>
        <%= form.text_area :notes, class: "field w-full text-xs" %>
    </div>

    <% end %>
</div>