
<%# Container that listens to long-press and normal click events. %> 
<%# Long press toggles stock, short goes to item page %>

 <turbo-frame 
    id="shopping-item-<%= item.id %>"
    data-stream-enter-class="animate-wiggle-short"
    data-controller="shopping-item-change"
    data-shopping-item-change-shopping-item-id="<%= item.id %>"
    data-shopping-item-change-long-press-duration-value="500"
    <%# Why all these actions? This is to provide the long-press/short-press functionality, while still %>
    <%# protecting against accidental presses while scrolling. %>
    data-action="mousedown->shopping-item-change#startPress mousemove->shopping-item-change#movePress mouseup->shopping-item-change#endPress
                touchstart->shopping-item-change#startPress touchmove->shopping-item-change#movePress touchend->shopping-item-change#endPress"

    class="
            <%= item.stock ? 'border-stone-300 bg-stone-200/60 hover:shadow-stone-200' : 'hover:shadow-lime-200 border-lime-300 bg-lime-100/60' %>
            relative px-2 py-2 grow cursor-pointer selecet-none border text-center rounded-xl shadow hover:shadow-md  text-stone-400">
    
    <%# Item Title %>
    <div class="text-sm first-letter:text-lg first-letter:font-black first-letter:text-stone-700/80 select-none">
        <%#= link_to item.title, item, target: "_top" %>
        <%= item.title %>
    </div>

    <div class="mx-[-8px]">

        <%# "Cut out" bottom left corner if the item has a note %>
        <% if item.notes.present? %>
            <span class="absolute bottom-0 text-transparent left-0 ml-[-1px] px-1 border rounded-tr-2xl rounded-bl-xl text-xs
                  shadow shadow-inner <%= item.stock ? "shadow-stone-400" : "shadow-lime-500" %>" >
            n
            </span>
        <% end %>
        
    </div>

</turbo-frame>
