<%# Long-press toggles stock, tap/click navigates to item page.

    The `long-press` event is not a built-in; it's an awesome and terse pure JavaScript library:
    https://github.com/john-doherty/long-press-event

    It is imported simply by placing the long-press-event.js file in app/assets/javascript and adding
    a javascript_include_tag for 'long-press-event' in application.html.erb.

    To change the delay, use the `data-long-press-delay` attribute.

    ----

    The animation is added by listening to turbo:before-stream-render. This is set-up in application.js.
    To change the animation class, use `data-stream-enter-class` attribute.

%>

<% color = item.shopping_category.color %>

 <turbo-frame 
    id="shopping-item-<%= item.id %>"
    data-controller="shopping-item-actions"
    data-shopping-item-actions-item-id="<%= item.id %>"
    data-action="long-press->shopping-item-actions#toggle_stock
                 click->shopping-item-actions#navigate_to_item_page"
    data-long-press-delay="500"
    data-stream-enter-class="animate-wiggle-short"


    class=" relative px-2 py-2 grow cursor-pointer selecet-none border text-center rounded-xl text-stone-400
            <%= item.stock ? "border-#{color}-300 bg-#{color}-100/80 hover:shadow-#{color}-200 shadow-#{color}-100" : 'border-stone-300 bg-stone-100/80 shadow-stone-200' %>
            shadow hover:shadow-md">
    
    <%# Item Title %>
    <div class="text-sm first-letter:text-lg first-letter:font-black first-letter:text-stone-700/80 select-none">
        <%= item.title %>
    </div>

    <div class="mx-[-8px]">

        <%# "Cut out" bottom left corner if the item has a note %>
        <% if item.notes.present? %>
            <span class="absolute bottom-0 text-transparent left-0 ml-[-1px] px-1  rounded-tr-2xl rounded-bl-xl text-xs
                  shadow shadow-inner <%= item.stock ? "shadow-#{color}-400" : "shadow-stone-400" %>" >
            n
            </span>
        <% end %>
        
    </div>

</turbo-frame>