
<div class="grid grid-rows-1 ">

  <%= turbo_frame_tag 'scratchpad' do %>
    <%= render partial: "scratchpad/form" %>
  <% end %>


  <% @shopping_categories.each do |category| %>
    <div data-controller="add-item" class="mt-6">
      <div class="flex justify-between space-x-2">
        <h2 class="text-2xl font-bold mb-4"><%= category.title %></h2>
        <button data-action="click->add-item#toggleForm" data-category-id="<%= category.id %>">+ Add</button>
      </div>
      <hr class="mb-4">
      <%= render partial: "dashboard/shopping_items_list", locals: { category: category } %>
      <%= render partial: "inline_shopping_form",
          locals: { category: category, item: ShoppingItem.new, hide_form: true } %>
    </div>
    
  <% end %>
</div>