<div id="<%= dom_id shopping_category %>">

  <div class="flex justify-between items-center">
    <h2 class="my-5 text-xl font-bold">
      <%= shopping_category.title %>
    </h2>
    <span class="p-1 border text-stone-500 text-xl shadow hover:shadow-md rounded-lg
           bg-<%= shopping_category.color %>-100/60 border-<%= shopping_category.color %>-300
           shadow-<%= shopping_category.color %>-100 hover:shadow-<%= shopping_category.color %>-200
    ">
      # <%= shopping_category.importance %>
    </span>

  </div>

  <p class="">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= shopping_category.color %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= shopping_category.notes %>
  </p>

  <% if action_name != "show" %>
    <%= link_to edit_shopping_category_path(shopping_category), class: "btn-secondary inline-block" do %>
      <%= render partial: "svgs/pencil", locals: { classes: "" } %>
    <% end %>
    <hr class="mt-6">
  <% end %>

</div>
