<div id="<%= dom_id shopping_category %>">

  <div class="flex justify-between items-center">
    <h2 class="my-5 text-xl font-bold">
      <%= shopping_category.title %>
    </h2>
    <span class="p-1 border border-stone-200 rounded-lg text-stone-500 text-xl">
      # <%= shopping_category.importance %>
    </span>

  </div>

  <p class="">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= shopping_category.color %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= shopping_category.notes %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show", shopping_category, class: "btn-secondary inline-block" %>
    <%= link_to "Edit", edit_shopping_category_path(shopping_category), class: "btn-secondary inline-block" %>
    <hr class="mt-6">
  <% end %>
</div>
