<div class="mx-auto md:w-2/3 w-full">

  <%= render "form", shopping_category: @shopping_category %>

  <div class="mt-2 flex space-x-2">
    <%= link_to shopping_categories_path, class: "btn-secondary" do %>
      <%= render partial: "svgs/arrow_left_circle", locals: { classes: "" } %>
    <% end %>
    <%= button_to shopping_category_path(@shopping_category), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn-danger" do %>
      <%= render partial: "svgs/trash", locals: { classes: "" } %>
    <% end %>
  </div>

</div>
