<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <% if notice.present? %>
      <div class="flash_notice" id="notice">
        <%= notice %>
      </div>
    <% end %>

    <%= render @shopping_category %>
    <div class="flex space-x-2">
      <%= link_to shopping_categories_path, class: "btn-secondary" do %>
          <%= render partial: "svgs/arrow_left_circle", locals: { classes: "" } %>
      <% end %>

      <%= link_to edit_shopping_category_path(@shopping_category), class: "btn-secondary" do %>
          <%= render partial: "svgs/pencil", locals: { classes: "" } %>
      <% end %>

      <%= button_to shopping_category_path(@shopping_category), method: :delete, data: { turbo_confirm: "Are you sure?" },
       class: "bg-red-100 btn-secondary" do %>
          <%= render partial: "svgs/trash", locals: { classes: "" } %>
       <% end %>
    </div>

  </div>
</div>
