<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <% if notice.present? %>
      <div class="flash_notice" id="notice">
        <%= notice %>
      </div>
    <% end %>

    <%= render @shopping_category %>

    <%= link_to "Edit this shopping_category", edit_shopping_category_path(@shopping_category), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this shopping_category", shopping_category_path(@shopping_category), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to shopping_categories", shopping_categories_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
