<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "field mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 10, class: "field mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :shopping_item_ids, "Ingredients" %>
    <%= form.select :shopping_item_ids,
      ShoppingItem.cooking_ingredients.collect { |i| [ i.title, i.id ] },
      {}, {data: {controller: "slim-select"}, multiple: true, class: "mt-2 !border-stone-200 h-10"}
    %>
  </div>

  <div class="flex space-x-2 ">
    <%= button_tag class: "btn-primary cursor-pointer" do %>
      <%= render partial: "svgs/check_circle", locals: { classes: "" } %>
    <% end %>
  </div>

<% end %>


