<%= form_with(model: recipe, class: "contents") do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "field mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "field mt-2 w-full" %>
  </div>

  <%#= turbo_frame_tag 'shopping_items' do %>
    <div class="my-5 shadow rounded-md" data-controller="multiselect" data-multiselect-search-url-value="/search_shopping_items" data-placeholder="Search for items...">
      <select multiple="multiple" class="multiselect__hidden" data-multiselect-target="hidden" name="recipe[shopping_item_ids][]" id="recipe_shopping_item_ids"></select>
    </div>
  <%# end %>


  <div class="inline">
    <%= form.submit class: "btn-primary cursor-pointer" %>
  </div>
<% end %>


