<div data-controller="toggle-hide"
    id="<%= dom_id recipe %>" class="p-3 my-4 rounded-xl bg-stone-100">

  <div class="flex justify-between items-baseline">

    <h2 data-toggle-hide-target="trigger" data-action="click->toggle-hide#do" class="text-xl font-bold cursor-pointer">
      <%= recipe.title %>
    </h2>
  
    <%= link_to edit_recipe_path(recipe) do %>
      <%= render partial: "svgs/edit", locals: { classes: "" } %>
    <% end %>

  </div>

  <div data-toggle-hide-target="triggered" class="hidden">
    <p class="whitespace-pre-line">
      <%= recipe.description %>
    </p>

    <div class="my-5">
      <strong class="block font-medium mb-1">Ingredients</strong>
      <ul class="list-disc pl-5">
        <% recipe.recipe_items.each do |ingredient| %>
          <% if ingredient.shopping_item.stock %>
            <li class="text-lime-500">
              <%= button_to ingredient.shopping_item.title, ingredient.shopping_item, {class: "font-bold"} %>
            </li>
          <% else %>
            <li class="text-red-500">
              <%= link_to ingredient.shopping_item.title, ingredient.shopping_item, {class: ""} %>
            </li>
          <% end %>
        <% end %>
      </ul>

    </div>
  </div>



</div>
