<div id="<%= dom_id recipe %>">
  <h2 class="my-5 text-xl font-bold">
    <%= link_to recipe.title, recipe %>
  </h2>

  <p class="my-5">
    <%= recipe.description %>
  </p>

  <div class="my-5">
    <strong class="block font-medium mb-1">Ingredients</strong>
    <ul class="list-disc pl-5">
      <% recipe.recipe_items.each do |ingredient| %>
        <% if ingredient.shopping_item.stock %>
          <li class="text-green-500">
            <%= button_to ingredient.shopping_item.title, ingredient.shopping_item, class: "text-green-500" %>
          </li>
        <% else %>
          <li class="text-red-500">
            <%= link_to ingredient.shopping_item.title, ingredient.shopping_item, class: "text-red-500" %>
          </li>
        <% end %>
      <% end %>

    </ul>
  </div>



</div>
