<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-xl">Editing recipe</h1>

  <%= render "form", recipe: @recipe %>

  <div class="mt-2 flex space-x-2">
    <%= link_to recipes_path, class: "btn-secondary" do %>
      <%= render partial: "svgs/arrow_left_circle", locals: { classes: "" } %>
    <% end %>
    <%= button_to recipe_path(@recipe), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn-secondary bg-red-100" do %>
        <%= render partial: "svgs/trash", locals: { classes: "" } %>
    <% end %>
  </div>

</div>
