
<div class="grid grid-rows-1 mb-20 min-w-full">

  <%= turbo_frame_tag 'scratchpad' do %>
    <%= render partial: "scratchpad/form" %>
  <% end %>


  <% @shopping_categories.each do |category| %>
    <div data-controller="toggle-hide"  class="mt-6">
      
      <%# Category Title with toggle %>
      <div
        class="mb-4 px-5 mx-[-10px] py-2 space-x-2 flex justify-between
        shadow-md shadow-stone-200 border-t border-<%= category.color %>-300 bg-stone-50 rounded-xl">

          <h2 data-action="click->toggle-hide#toggleContent" class="text-xl font-bold cursor-pointer">
            <%= category.title %>
          </h2>

        <button class="text-stone-600 " data-action="click->toggle-hide#toggleForm" data-category-id="<%= category.id %>">
          <%= render partial: "svgs/plus_circle", locals: { classes: "" } %>
        </button>
      </div>
      <%# END Category Title %>

      <%#  Item List with initially hidden form %>
      <div class="">

        <%# Form, hidden by default %>
        <%= render partial: "inline_shopping_form",
          locals: { category: category, item: ShoppingItem.new, hide_form: true } %>

        <div data-toggle-hide-target="content" id="shopping-items-<%= category.id %>"
              class="flex flex-wrap gap-2">
          
          <%# Sort items so out of stock is always on the front, while both out of stock
              and in stock are in alphabetical order. %>
          <% category.shopping_items.order("stock ASC, title ASC").each do |item| %>
            <%= render partial: "home/shopping_item", locals: { item: item } %>
          <% end %>   
        </div>

      </div>
      <%# END Item List %>

    </div>
    
  <% end %>
</div>