<div class="mt-4" id="<%= dom_id shopping_item %>" class="">

  <h1 class="mb-1 text-2xl font-bold">
    <%= shopping_item.title %>
    is
      <% if shopping_item.stock %>
        <span class="px-1 border border-lime-300 bg-lime-100">
        in stock!
        </span>
      <% else %>
        <span class="px-1 border border-red-300 bg-red-100">
        out of stock!
        </span>
      <% end %>
    </span>
  </h1>

  <h2 class="mb-4 ml-3 text-stone-400 text-xl font-bold">
    <%= shopping_item.shopping_category.title %> [<%= shopping_item.shopping_category.id %>]
  </h2>

  <div class="mb-6 ">
    <% if shopping_item.notes.present? %>
      <h3 class="text-xl font-bold">Notes:</h3>
      <p class="whitespace-pre-line"><%= shopping_item.notes %></p>
    <% else %>
      This item doesn't have notes yet!
    <% end %>
  </div>

</div>
