<div class="mx-auto w-full flex">
  <div class="w-full">

    <% if notice.present? %>
      <div class="flash_notice" id="notice">
        <%= notice %>
      </div>
    <% end %>

    <%= render @shopping_item %>

    <hr class="mb-2">
    <div class="flex">
      <%= link_to dashboard_path, class: "btn-secondary" do %>
        <%= render partial: "svgs/arrow_left_circle", locals: { classes: "" } %>
      <% end %>

      <%= link_to edit_shopping_item_path(@shopping_item), class: "ml-2 btn-secondary" do %>
        <%= render partial: "svgs/pencil", locals: { classes: "" } %>
      <% end %>

      <%= button_to shopping_item_path(@shopping_item), method: :delete, data: { turbo_confirm: "Are you sure?" },
      class: "ml-2 btn-secondary bg-red-100" do %>
        <%= render partial: "svgs/trash", locals: { classes: "" } %>
      <% end %>
    </div>
    
  </div>

</div>
