<div class="mx-auto w-full flex">
  <div class="w-full">

    <% if notice.present? %>
      <div class="flash_notice" id="notice">
        <%= notice %>
      </div>
    <% end %>

    <%= render @shopping_item %>

    <div class="">
      <hr>
      <%= link_to "Back", shopping_items_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to "Edit", edit_shopping_item_path(@shopping_item), class: "ml-2 mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Delete", shopping_item_path(@shopping_item), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-100 font-medium" %>
      </div>
    </div>


  </div>

</div>
