<%= form_with(model: habit) do |form| %>
    <div class="my-5">
        <%= form.label :name %>
        <%= form.text_field :name, class: "block shadow rounded-md border border-stone-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex">
        <%= button_tag class: "btn-primary" do %>
        <%= render partial: "svgs/check_circle", locals: { classes: "" } %>
        <% end %>
    </div>
<% end %>