<div class="flex flex-wrap">
    <% dates.each do |date| %>
        <% if habit.habit_completions.where(date: date).exists? %>
            <div 
            data-habit-actions-habit-id="<%= habit.id %>"
            data-habit-actions-date="<%= date %>"
            data-action="long-press->habit-actions#toggle_completion"
            class="h-8 w-8 mt-1 rounded shadow-md shadow-indigo-200 border border-indigo-400 bg-indigo-200">
            </div>
        <% elsif date == Date.today %>
            <div 
            data-habit-actions-habit-id="<%= habit.id %>"
            data-habit-actions-date="<%= date %>"
            data-action="long-press->habit-actions#toggle_completion"
            class="h-8 w-8 mt-2 rounded shadow-inner shadow-orange-300 border border-orange-200 bg-white">
            </div>
        <% else %>
            <div 
            data-habit-actions-habit-id="<%= habit.id %>"
            data-habit-actions-date="<%= date %>"
            data-action="long-press->habit-actions#toggle_completion"
            class="h-8 w-8 mt-2 rounded bg-indigo-50 border border-indigo-100 shadow-inner shadow-indigo-200">
            </div>
        <% end %>
    <% end %>
</div>