<!DOCTYPE html>
<html>
  <head>
    <title>Yuva</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="px-5 mt-4 max-w-[600px] mx-auto">
      <header class="flex justify-between">
        <div class="space-x-2">
          <%= link_to "Dashboard", dashboard_path %>
          <%= link_to "Items", shopping_items_path %>
          <%= link_to "Categories", shopping_categories_path %>
          <%= link_to "Recipes", recipes_path %>
        </div>
        <% if session[:passcode_id] %>
          <%= button_to 'Logout', logout_path, method: :delete %>
        <% end %>

      </header>
      <hr>
      <main class="mt-4 flex">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
