<!DOCTYPE html>
<html>
  <head>
    <title>Yuva</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'long-press-event' %>
  </head>

  <%# <body class="bg-gradient-to-b from-stone-50 to-lime-100/60 min-h-screen"> %>
<body>
    <div class="px-2 mt-4 max-w-[600px] mx-auto">
      <header class="max-w-[550px] mx-auto flex justify-between items-center">
        <div class="space-x-2 sm:space-x-6 text-sm">
          <%= link_to_with_hl "Dashboard", dashboard_path %>
          <%= link_to_with_hl "Recipes", recipes_path %>
          <%= link_to_with_hl "Items", shopping_items_path %>
          <%= link_to_with_hl "Categories", shopping_categories_path %>
        </div>
        <% if session[:passcode_id] %>
          <%= button_to 'Logout', logout_path, method: :delete, class: "text-sm" %>
        <% end %>

      </header>

      <main class="mt-4 flex">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
